{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>ID</th>
					<th>TITLE</th>
					<th>URL</th>
					<th>COMMENT_COUNT</th>
					<th>SCORE</th>
					<th>DATE</th>
					<th>POSTED_BY</th>
				</tr>
			</thead>
			<tbody>
		{% for key,row in data %}
				<tr>
					<th scope="row">{{key+1}}</th>
					<td>{{ row.story_id }}</td>
					<td>{{ row.story_title }}</td>
					<!-- td>{{ row.comment_text|raw }}</td -->
					<td>{{ row.story_url }}</td>
					<td>{{ row.num_comments }}</td>
					<td>{{ row.points }}</td>
					<td>{{ row.created_at|date("Y-m-d") }}</td>
					<td>{{ row.author }}</td>
				</tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}